.t-Button--disabled
        {
        cursor: not-allowed;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;

        }

.hide
        {
                visibility: hidden;
        }

.show
        {
                visibility: show;
        }

.queryColSummary { 
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}