.t-Button--disabled
        {
        cursor: not-allowed;
        pointer-events: none;

        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;

        }

.hide
        {
                visibility: hidden;
        }

.show
        {
                visibility: show;
        }

.queryColSummary { 
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}

.queryColSummary2{ 
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  white-space: nowrap;
}

.uReportList {
    margin: 0;
    list-style: none;
}
.uReportList li {
    margin: 0 0 4px 0;
}
.check_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #69B86B;
    color: #FFF;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid green;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    vertical-align: top;
    margin-right: 4px;
}
.valid_user {
    display: inline-block;
    padding: 4px 8px 4px 4px;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    line-height: 20px;
    background-color: #F8F8F8;
    color: #404040;
}

.c600 {
    display: block; 
    width: 600px; 
    font-size: 90%;
}